<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AkbarsProject.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>247</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>EB317A52F1F1EB7E6FEACCF511AA232A9A6FE97E</string>
				<key>dateExpires</key>
				<string>27.09.2024</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EB317A52F1F1EB7E6FEACCF511AA232A9A6FE97E</string>
						<key>dateExpires</key>
						<string>27.09.2024</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OpenSSL.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K48PL762Q8</string>
						<key>name</key>
						<string>SK AK BARS-MED, OOO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.180</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EB317A52F1F1EB7E6FEACCF511AA232A9A6FE97E</string>
						<key>dateExpires</key>
						<string>27.09.2024</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>double-conversion.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K48PL762Q8</string>
						<key>name</key>
						<string>SK AK BARS-MED, OOO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>K48PL762Q8.ru.akbarsmed</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>K48PL762Q8</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>AkbarsProject.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>3bffe02c-0c4c-449d-abd4-3e43e5655cfb</string>
				<key>dateExpires</key>
				<string>27.09.2024</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: ru.akbarsmed</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>K48PL762Q8</string>
				<key>name</key>
				<string>SK AK BARS-MED, OOO</string>
			</dict>
			<key>versionNumber</key>
			<string>4.1.0</string>
		</dict>
	</array>
</dict>
</plist>
