<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://www.dropbox.com/scl/fi/4iyfhmmi7e7sz6lxbvwoe/AkbarsProject.ipa</string>
		<key>displayImageURL</key>
		<string>https://www.dropbox.com/scl/fi/4c9wds02nfbz7i6gjdjho/play_store_57.png</string>
		<key>fullSizeImageURL</key>
		<string>https://www.dropbox.com/scl/fi/csd8fmwrczyn6xfh1ce7o/play_store_512.png</string>
	</dict>
	<key>method</key>
	<string>ad-hoc</string>
	<key>signingStyle</key>
	<string>automatic</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>K48PL762Q8</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
